Source: ros-jazzy-filters
Section: misc
Priority: optional
Maintainer: Tully Foote <tfoote@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, libboost-dev, pluginlib-dev, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Homepage: https://wiki.ros.org/filters
Standards-Version: 3.9.2

Package: ros-jazzy-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-dev, pluginlib-dev, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Description: This library provides a standardized interface for processing data as a sequence of filters.
 This package contains a base class upon which to build specific implementations as well as an interface which dynamically loads filters based on runtime parameters.
